<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AI.Properties.Settings>
            <setting name="FloatWindowX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FloatWindowY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllWindowLanguage" serializeAs="String">
                <value>En</value>
            </setting>
            <setting name="AllWindowFontSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllWindowBackground" serializeAs="String">
                <value>Beige</value>
            </setting>
            <setting name="AllWindowButtonColor" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="AllWindowButtonFontColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="AllWindowFontColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="IsDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainAlwaysVisible" serializeAs="String">
                <value>True</value>
            </setting>
        </AI.Properties.Settings>
    </userSettings>
</configuration>